/* General styles */
* {
  box-sizing: border-box !important;
}

html,
body,
#__next {
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.gradient-bg {
  background: transparent
    linear-gradient(180deg, #3c4f59 0%, #1e2932 100%) 0% 0% no-repeat
    padding-box;
}
