:host {
  --soft-black: #2a3037;
  --soft-white: #f4f4f4;
  --border-gray: rgba(229, 221, 201, 0.311);
}

a {
  text-decoration: none !important;
  color: unset !important;
}

/* General styles */
* {
  box-sizing: border-box !important;
}

html,
body,
#__next {
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.gradient-bg {
  background: transparent
    linear-gradient(180deg, #3c4f59 0%, #1e2932 100%) 0% 0% no-repeat
    padding-box;
}
